{{ script('vendors/js/vendor.bundle.base') }}
<!-- plugins:js -->
{{ script('vendors/js/vendor.bundle.addons') }}
{{ script('js/off-canvas') }}
{{ script('js/misc') }}
{{ script('js/dashboard') }}

{{--  {{ script('httpservices')}}  --}}

