<div class="row purchace-popup">
        <div class="col-12">
          <span class="d-block d-md-flex align-items-center">
            <p>Day message</p>
          
            <i class="mdi mdi-close popup-dismiss d-none d-md-block"></i>
          </span>
        </div>
      </div>

     