<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Hello Adonis</title>
  {{ style('https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous" ')}}
  
  {{ style('vendors/iconfonts/mdi/css/materialdesignicons.min') }}
  {{ style('vendors/css/vendor.bundle.base') }}
  {{ style('vendors/css/vendor.bundle.addons') }}

 
 
  

    <!-- plugins:css -->

    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
 {{ style('style')}}

 {{ style('pagination')}}
 {{ style('flashmessages')}}
    <!-- endinject -->
    <link rel="shortcut icon" href="images/favicon.png" />
</head>